<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Detalle producto'}) %>
<body>
	<!-- ID Main container es el que contiene toooooodo -->
	<div class="container-fluid" id="main-container">
		<!-- Header -->
        <%- include('partials/header') %>
        
        <!-- aca va el contenido ****************************** -->
       
        <div class="row mt-3 bg-dark py-3 justify-content-center">
            <div class="col-12 col-md-4 text-right">
                <img src="../../images/productos/<%= product.image %>" class="img-thumbnail" width="200">
                <br> <br>
                <p>Producto cargado por: <b><%= product.user.first_name %> <%= product.user.last_name %></b></p>
                <p>ID: <b><%= product.user.id %></b></p>
            </div>
            <div class="col-12 col-md-6">
                <h3><%= `${product.name}` %></h3>
                <p>Marca: <%= product.brand.name %></p>
                <p>Modelo: <%= product.model %></p>
                <p>Precio: $<%= product.price %></p>
                <p>Descripción: <%= product.description %></p>
                <hr>
                
                
                <div class="row">
                    <div class="col-12 col-md-4">
                        <form action="/borrar/<%=product.id%>" method="POST">
                            <button class="btn btn-danger" type="submit"><i class="fa fa-trash" aria-hidden="true"></i> Borrar Producto</button>
                        </form>
                    </div>
                    <div class="col-12 col-md-6">
                        <form action="/productos/editar/<%=product.id%>">
                            <button class="btn btn-success" type="submit"><i class="fa fa-pencil" aria-hidden="true"></i> Editar Producto</button>
                        </form>
                    </div>
                </div>
                <hr>
                    <div class="row mt-2 pl-3">
                        <a href="/productos" class="font-abel">◄ Volver a productos</a>
                    </div>
            </div>
        </div>
        <!-- ↑↑↑ aca termina el contenido ****************************** -->
        <!-- Footer -->
		<%- include('partials/footer') %>
        <!-- ↓↓ aca termina el DIV main container ↓↓ -->
        </div>
</body>
 </html>