<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Productos'}) %>

<body>
	<!-- ID Main container es el que contiene toooooodo -->
	<div class="container-fluid justify-content-center" id="main-container">
		<!-- Header -->
		<%- include('partials/header') %>

		<!-- TITULO SECCION -->
		<div class="row bg-dark">
			<div class="col-12 text-center mt-3">
				<h1>CONOZCA NUESTROS PRODUCTOS</h1 c>
			</div>
		</div>
		<!-- productos -->
		<div class="row bg-dark">
			<div class="col-12 col-md-3 offset-md-1 text-left py-3">
				<h3 class="row text-white pl-2">BÚSQUEDA</h3>
				<div class="row  d-flex justify-content-around">
					<input type="text" placeholder="busca un producto" class="col-9 form-control">
					<button class="col-2 form-control"><i class="fa fa-search" aria-hidden="true"></i></button>
				</div>
				<hr class="no-display-sm">
				<div class="row no-display-sm">
					<div class="col-12 font-abel"><h4>Filtrar por Marca</h4></div>
					<div class="col-12 font-abel">
						<input type="checkbox" name="marca" value="marca1">
						<label for="marca">JBL</label>
						<br>
						<input type="checkbox" name="marca" value="marca2">
						<label for="marca">Rock It</label><br>
						<input type="checkbox" name="marca" value="marca3">
						<label for="marca">Focal</label><br>
						<input type="checkbox" name="marca" value="marca4">
						<label for="marca">Bang & Olufsen</label><br>
						<input type="checkbox" name="marca" value="marca5">
						<label for="marca">Senheiser</label><br>
					</div>
				</div>
				<hr class="no-display-sm">
				<div class="row no-display-sm">
					<div class="col-12 font-abel"><h4>Filtrar por Modelo</h4></div>
					<div class="col-12 font-abel">
						<input type="checkbox" name="modelo" value="modelo1">
						<label for="modelo">Profesionales</label>
						<br>
						<input type="checkbox" name="modelo" value="modelo2">
						<label for="modelo">Amateurs</label><br>
						<input type="checkbox" name="modelo" value="modelo3">
						<label for="modelo">Estudio</label><br>
						<input type="checkbox" name="modelo" value="modelo4">
						<label for="modelo">Compactos</label><br>
						<input type="checkbox" name="modelo" value="modelo5">
						<label for="modelo">Sets</label><br>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-7 text-left py-3">
				<h3 class="text-white bg-bl pl-2">NOVEDADES</h3>
				<div class="row">
					<div class="col-12 card-columns">
						<% productos.forEach(oneProduct => { %>
							<div class="card bg-wh">
								<div class="car-img-top"></div>
								<div class="card-body">
									<a href="/productos/detalle/<%= oneProduct.id %>"><img src="../../images/productos/<%= oneProduct.avatar %>" width="150px" class="card-img-top" alt=""></a>
									<div class="card-title">
										<a href="/productos/detalle/<%= oneProduct.id %>"><h4 class="font-abel text-black pt-1"><%= oneProduct.nombre %></h4></a>
									</div>
									<div class="card-text">
										<h4 class="text-right text-black">$<%= oneProduct.precio %></h4>
									</div>
									<div class="card-link text-right">
										<button class="btn-amarillo" alt="Agregar al carrito">Agregar al carrito</button>
									</div>
								</div>
							</div>
						<% }); %>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Footer -->
		<%- include('partials/footer') %>
		<!-- ↓↓ aca termina el DIV main container ↓↓ -->
	</div>

</body>

</html>