<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Perfil'}) %>
<body>
	<!-- ID Main container es el que contiene toooooodo -->
	<div class="container-fluid" id="main-container">
		<!-- Header -->
        <%- include('partials/header') %>
        
        <!-- aca va el contenido ****************************** -->
        <div class="row bg-dark py-3">
            <div class="col-12 col-md-2 offset-md-2 py-1 text-center text-md-right">
                <img src="/images/avatars/<%= user.avatar %>" class="img-thumbnail" width="200">
            </div>
            <div class="col-12 col-md-6 py-1 text-center text-md-left">
                <h3 class="text-amarillo">Welcome: <%= `${user.name} ${user.lastname}` %></h3>
                <span class="font-abel">Tu email es: <a href="mailto:<%= user.email %>" class="mail"><%= user.email %></a></span>
                <hr>
                <a href="#" class="mr-2 font-abel"><i class="fa fa-shopping-cart pr-2" aria-hidden="true"></i>Ver tu carrito</a>
                <a href="#" class="mr-2 font-abel"><i class="fa fa-user pr-2" aria-hidden="true"></i>Editar Perfil</a>
            </div>
            <div class="col-12 col-md-2 py-1 text-center text-md-left"></div>
        </div>
        <!-- ↑↑↑ aca termina el contenido ****************************** -->

        <!-- Footer -->
		<%- include('partials/footer') %>
        <!-- ↓↓ aca termina el DIV main container ↓↓ -->
        </div>
</body>
 </html>